<div
  class="max-w-sm rounded overflow-hidden shadow-lg bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-white md:w-1/2"
>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 flex items-center justify-between">
      <span class="flex items-center">
        <svg class="w-8 h-8 mr-2" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M12 2C6.48 2 2 6.48 2 12c0 4.42 2.87 8.18 6.84 9.5.5.09.66-.22.66-.49 0-.24-.01-.87-.01-1.71-2.78.6-3.37-1.34-3.37-1.34-.46-1.18-1.11-1.5-1.11-1.5-.91-.62.07-.61.07-.61 1.01.07 1.55 1.03 1.55 1.03.9 1.54 2.36 1.09 2.93.83.09-.65.35-1.09.63-1.34-2.22-.25-4.56-1.11-4.56-4.95 0-1.09.39-1.98 1.03-2.68-.1-.25-.45-1.27.1-2.65 0 0 .84-.27 2.75 1.02A9.49 9.49 0 0112 6.85c.85.003 1.71.115 2.5.34 1.9-1.29 2.74-1.02 2.74-1.02.55 1.38.2 2.4.1 2.65.64.7 1.03 1.59 1.03 2.68 0 3.86-2.35 4.7-4.58 4.95.36.31.68.91.68 1.83 0 1.32-.01 2.39-.01 2.71 0 .27.16.59.68.49A9.997 9.997 0 0022 12c0-5.52-4.48-10-10-10z"
          ></path>
        </svg>
        <a href="https://github.com/mertcanaltin"> Github.com/mertcanaltin </a>
      </span>
    </div>
    <p class="text-base">
      Sometimes I share what I do here and on github if you want to receive
      notifications you can subscribe!
    </p>
    <div class="mt-4">
      <a href="/newsletter">
        <button class="bg-white text-gray-800 font-bold py-2 px-4 rounded">
          Subscribe Now</button
        >
      </a>
    </div>
  </div>
</div>
